<% if @business.errors.any? %>
  <h2>There were errors saving your business info.</h2>
  <ul>
    <% @business.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= simple_form_for @business do |f| %>
	<p>
		<%= f.label :Name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :Discription %>
		<%= f.text_area :discription %>
	</p>
	<p>
		<%= f.label :Categories %>
	<%= f.association :categories, as: :check_boxes %>
	</p>
		<%= f.submit %>
<% end %>
<br>
<br>
<% if current_user.try(:admin?) %>
	<h3>Add a new category.</h3>
	<%= form_for([@business, @business.categories.build]) do |c| %>
		<p>
		<%= c.label :Name %>
		<%= c.text_field :name %>
		</p>
		<%= c.submit %>
	<% end %>
<% end %>
