<% if @business.errors.any? %>
  <h2>There were errors saving your business info.</h2>
  <ul>
    <% @business.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="row">
	<div class="col-lg-6">
		<div class="well">
			<form class="bs-example form-horizontal">
				<fieldset>
				<legend>New Business</legend>
				<%= simple_form_for @business do |f| %>
					<div class="form-gruop">
						<%= f.label :Name, class: "col-lg-2 control-label" %>
						<div class="col-lg-10">
							<%= f.text_field :name, class: "form-control" %>
						</div>
					</div>

					<div class="form-gruop">
						<%= f.label :Discription, class: "col-lg-2 control-label" %>
						<div class="col-lg-10">
							<%= f.text_area :discription, class: "form-control" %>
						</div>
					</div>

					<div class="form-gruop">
						<%= f.label :'Phone', class: "col-lg-2 control-label" %>
						<div class="col-lg-10">
							<%= f.text_field :phone_num, class: "form-control" %>
						</div>
					</div>

					<div class="form-gruop">
						<%= f.label :'WebSite', class: "col-lg-2 control-label" %>
						<div class="col-lg-10">
							<%= f.text_field :web_site, class: "form-control" %>
						</div>
					</div>

					<div class="form-gruop">
						<div class="col-lg-10">
              <legend id="tables">Categories</legend>
	              <div class="bs-example table-responsive">
		              <table class="table table-striped table-bordered table-hover">
				           <tbody>
				           	<tr>
	                    <td><%= f.association :categories, as: :check_boxes, label: false, class: "span2" %></td>
	                  </tr>
									</tbody>
								</table>
							</div>
						</div>						
					</div>

					<div class="form-gruop">
						<div class="col-lg-10 col-lg-offset-2">
								<%= f.submit class: "btn btn-primary" %>
						</div>
					</div>
				<% end %>
				</fieldset>
			</form>
		</div>
	</div>


</div>
