<% if @business.errors.any? %>
  <h2>There were errors saving your business info.</h2>
  <ul>
    <% @business.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for @business do |b| %>
	<p>
	<%= b.label :Name %>
	<%= b.text_field :name %>
	</p>
	<p>
	<%= b.label :Discription %>
	<%= b.text_area :discription %>
	</p>
	<%= b.submit %>
<% end %>