<br><br>


<h1><%= @business.name %></h1>
<p>
<%= @business.discription %>
</p>
<% if @business.phone_num? %>
	<p>
	Phone: <%= @business.phone_num %>
	</p>
<% end %>
<% if @business.web_site? %>
	<p>
	Website: <%= @business.web_site %>
	</p>
<% end %>
<p> Categories
	<% @business.categories.each do |c| %>
		<ul>
			<li><%= c.name %></li>
		</ul>
	<% end %>
</p>
<p>
    <%= edit_business_link @business %>
</p>
 